* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  h1, h2 {
    padding-top: 7%;
    padding-left: 2%;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--very-dark-blue);
    text-align: left;
  }

  p {
    padding-top: 7%;
    padding-left: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: hsl(228, 12%, 48%);
    text-align: left;
    letter-spacing: 1cap;
  }
  .features{
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0;
    font-size: 1em;
}
footer{
    position: fixed;
    bottom: 0;

}
  /* Layout */
  .container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: auto;
    border-radius: 1%;
    overflow: hidden;
  }
  .photo{
    width: 100%;
    max-width: 500px; 
    height: 750px; 
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    padding: 0; 
    margin: 0;  
  }
  .content{
    padding: 3%;
    display: flex;
    flex-direction: column;
  }
  .add-button{
    margin-top: 35px;
    font-weight: 700;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 4%;
    color: var(--cream);
    width: 13rem;
    height: 3rem;
    background-color: var(--dark-cyan);
    display: inline-block;
}
  .add-button:hover{
    background-color: var(--very-dark-blue);
  }
  .price-container {
    font-family: 'Fraunces', serif;
    display: inline-flex; 
    align-items: center;
  }
  .current-price {
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan); 
    font-size: 2.5em; 
    font-weight: bold;
    margin-right: 10px; 
  }
  
  .original-price {
    font-family: 'Fraunces', serif;
    color: var(--dark-grayish-blue); 
    text-decoration: line-through; 
    font-size: 1em;
  }

  .desktop-title {
    display: block;
}

.mobile-title {
    display: none;
}
  

  /* Responsive Design */
  .responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0; 
    padding: 0;  
  }
  
  @media (min-width: 376px) and (max-width: 768px)  {
    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: auto; /* Otomatik yüksekliği ayarla */
        max-height: 900px;
        width: 100%;
    }

    .photo {
        width: 100%;
        height: auto;
        max-height: 400px; /* Yüksekliği sınırlamak için */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .responsive-image {
        width: 100%;
        height: auto;
        max-height: 100%; /* Görüntünün yüksekliğini sınırlamak için */
        object-fit: contain; /* Görüntünün kırpılmasını önler */
        object-position: center; /* Görüntünün ortalanmasını sağlar */
    }
    
    .content {
        width: 100%;
        padding: 3%;
    }
}
@media (min-width: 1440px) {
  .desktop-title {
      display: block;
  }
  
  .mobile-title {
      display: none;
  }
}
@media (max-width: 375px) {
  .desktop-title {
    display: none;
}

.mobile-title {
    display: block;
    padding-top: 7%;
    padding-left: 2%;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--very-dark-blue);
    text-align: left;
    font-size: 2rem; /* veya istediğiniz boyut */
    line-height: 1.2;
}

  .container {
      flex-direction: column;
      width: 90%;
      margin: 1rem auto;
  }

  .photo {
      width: 100%;
      height: auto;
      max-height: 300px;
  }

  .photo picture {
      width: 100%;
      height: 100%;
      display: block;
  }

  .responsive-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
 .attribution { 
    font-size: 11px; text-align: center;
 }
  .attribution a {
     color: hsl(228, 45%, 44%); 
  }
}